image:
  repository: 044302809167.dkr.ecr.us-east-1.amazonaws.com/ticket-booking/ticket-service
  pullPolicy: IfNotPresent
  tag: 2-2713518dbeae93a7f99cc77879ca647a6dfb43ff

service:
  type: ClusterIP
  port: 3002

ingress:
  enabled: false

resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi

env:
  NODE_ENV: production
  PORT: "3002"
  MONGO_URI: "mongodb://mongodb.default.svc.cluster.local:27017/userdb"
